.header{
    background-color: #FFF;
    padding: 20px 0;
    box-shadow: rgba(214, 214, 214, 0.33) 0 3px 6px;
}
.navbar  {
    padding: 0;
}
.text-green {
    color: #33D57C;
}

.text-danger{
   cursor: pointer;
   text-decoration: none;
   font-size: 16px;
}
h4 {
    font-size: 29px;
}
h3 {
    font-size: 23px;
}