<header class="header">
  <nav class="container navbar d-flex justify-content-around">
    <div class="col-sm-3">
      <a class="navbar-brand" href="#">
        <img [src]="fotoCaminho" title="YourBank" class="d-inline-block align-top img-logo" alt="logo YourBank">
        </a>
    </div>
    <div  class="col-sm-4">
      <h4 class="green-text" href="#">Olá, <span class="black-text" >Ana Lima da Silva</span></h4>
    </div>
    <div  class="col-sm-3">
      <h3  class="green-text" href="#">Ag <span class="gray-text"> 1234 </span> c/c <span class="gray-text">12345-6</span></h3>
    </div>
    <div  class="col-sm-2">
      <span [routerLink]="['/']" class="red-text" href="#">SAIR <i class="fas fa-unlock gray-text"></i></span>
    </div>
  </nav>
</header>
