.header{
    background-color: #FFF;
    padding: 20px 0;
    box-shadow: rgba(214, 214, 214, 0.33) 0 3px 6px;
    margin-bottom: 20px;
}
.navbar  {
    padding: 0;
}

h4 {
    font-size: 25px;
    font-weight: 400;
}
h3 {
    font-size: 20px;
    font-weight: 400;
}

.black-text{
    color: #424248;
}

.gray-text{
    color: #AAAAAA;
}

.red-text {
    color: #F22613;
    cursor: pointer;
}

.green-text{
    color: #2FAA33;
}

.img-logo{
    width: 200px;
}

.borda {
    border: 1px solid red;
}

.align-user{
    text-align: left;
    font-size: 16px;
}

.h3-mobile{
    font-size: 14px;
}

.exit-mobile{
    font-size: 11px;
}