<header class="header d-none d-sm-none d-lg-block d-md-block">
  <nav class="container navbar d-flex justify-content-between">
    <div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
      <a [routerLink]="['/homePage']" class="navbar-brand" >
        <img [src]="fotoCaminho" title="YourBank" class="d-inline-block align-top img-fluid img-logo" alt="logo YourBank">
      </a>
    </div>
    <div  class="col-md-4 col-lg-4">
      <h4 class="green-text">Olá <span class="black-text" >{{ cliente.nome }}</span></h4>
    </div>
    <div  class="col-md-4 col-lg-3">
      <h3  class="green-text">Ag <span class="gray-text"> {{ cliente.agencia }} </span> c/c <span class="gray-text">{{ cliente.conta }}</span></h3>
    </div>
    <div  class="col-md-1 col-lg-2">
      <a [routerLink]="['/']" class="red-text">SAIR<i class="fas fa-unlock gray-text pl-1"></i></a>
    </div>
  </nav>
</header>

<div class="d-xl-none d-lg-none d-sm-block d-md-none">
    <a [routerLink]="['/homePage']" class="navbar-brand my-2" >
      <img [src]="fotoCaminho" title="YourBank" class="d-inline-block align-top img-logo" alt="logo YourBank">
    </a>
<header class="header container">
  <nav class="container navbar d-flex flex-column align-items-start justify-content-start">
    <div  class="col-sm-12  borda">
      <h4 class="green-text mr-0 ">Olá <span class="black-text" >Ana Lima da Silva</span></h4>
    </div>
    <div  class="col-sm-12 d-flex borda">
      <h3  class="green-text col-xs-6">Ag <span class="gray-text"> 1234 </span> c/c <span class="gray-text">12345-6</span></h3>
      <a [routerLink]="['/']" class="red-text col-xs-6 ml-auto">SAIR<i class="fas fa-unlock gray-text pl-1"></i></a>
    </div>
  </nav>
</header>
</div> 