<nav class="navbar navbar-light bg-light d-flex justify-content-around py-3">
  <a class="navbar-brand" href="#">
    <img src="img/logo.png"   class="d-inline-block align-top" alt="logo yourbank">
  </a>
<h4 class="text-green" href="#">Olá, <span class="text-dark" >Ana Lima da Silva</span></h4>
  <h3  class="text-green" href="#">Ag <span class="text-black-50"> 1234 </span> c/c <span class="text-black-50">12345-6</span></h3>
  <span [routerLink]="['/']" class="text-danger" href="#">SAIR <i class="icon-locker-streamline-unlock text-secondary"> </i></span>
</nav>