<div class="box-card">
  <p class="sub-title">Transferência para conta YourBank</p>
  <form class="form-transferencia">
    <div class="row">
      <div class="form-group col-12 col-sm-12 col-md-12">
        <input mask="0000" type="text" class="form-control color-input" id="inputAgencia" placeholder="Agência">
      </div>
      <div class="form-group col-12 col-sm-12 col-md-12">
          <input mask="00000-0" type="text" class="form-control color-input" id="inputConta" placeholder="Conta">
      </div>
    </div>
    <div class="row">
        <div class="form-group col-12 col-12 col-sm-12 col-md-12">
            <label class="cifrao">R$</label>
            <!-- <input type="text" class="form-control valor" id="inputValor" placeholder="0,00"> -->
            <input class="form-control valor" id="inputValor" placeholder="0,00" currencyMask [(ngModel)]="valor" name="valor" [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"/>
        </div>
    </div>
    <div class="row">
      <div class="form-group col-12 col-12 col-sm-12 col-md-12">
            <select class="form-control" id="selectTipo">
            <option>DOC</option>
            <option>TED</option>
          </select>
        </div>
    </div>
    <div class="row">
      <div class="col-12 col-sm-12 col-md-12">
        <div class="acesso-rapido d-flex flex-row justify-content-between">
          <div class="valores"><a href="">5,00</a></div>
          <div class="valores"><a href="">10,00</a></div>
          <div class="valores"><a href="">20,00</a></div>
          <div class="valores"><a href="">50,00</a></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 col-12 col-sm-12 col-md-12">
        <button type="submit" class="btn-continuar">Continuar</button>
      </div>
    </div>
  </form>
</div>
