<div class="mt-4 d-flex flex-column align-items-start">
  <div>
    <h1 class="mb-2">Extrato</h1>
  </div>
  <div class="d-flex flex-column col-12">
    <!-- item do extrato -->
    <div class="d-flex borda mb-2 pb-2">
      <!-- icon -->

      <!-- informações -->
      <div>
        <div class="d-flex flex-column align-items-start">
          <div class="mt-2 d-flex flex-column align-items-start" *ngFor="let transferencia of transferencias">
            <span class="text-fluxo">      
              <!-- icon -->
              <i class="fas fa-arrow-circle-right" *ngIf="transferencia.tipo == true"></i>
              <i class="fas fa-arrow-circle-left" *ngIf="transferencia.tipo == false"></i>
              {{ transferencia.tipo | tipoTransf: transferencia.tipo }}</span>
            <span class="text-data">{{ transferencia.data | date:'dd/MM/yyyy' }}</span>
            <span class="text-valor">{{ transferencia.valor | currency:'BRL':true:'1.2-2' }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>