<div class="mt-4 d-flex flex-column align-items-start">
    <div>
      <h1 class="mb-2">Extrato</h1>
    </div>
    <div class="d-flex flex-column col-12">
      <!-- item do extrato -->
      <div class="d-flex borda mb-2 pb-2">
        <!-- icon -->
        <div class="mt-4 mr-2">
          <i class="fas fa-arrow-circle-right"></i>
        </div>
        <!-- informações -->
        <div>
          <div class="d-flex flex-column align-items-start">
            <div class="mt-2 d-flex flex-column align-items-start" >
              <span class="text-fluxo">Entrada</span>
              <span class="text-title">Salário</span>
              <span class="text-valor">R${{ transferencias[0].valor }}</span>
            </div>
          </div>
        </div>
        <!-- data -->
        <div class="ml-auto mt-4">
            <span class="text-data">Hoje</span>
        </div>
      </div>
       <!-- item do extrato -->
       <div class="d-flex borda mb-2 pb-2">
          <!-- icon -->
          <div class="mt-4 mr-2">
              <i class="fas fa-arrow-circle-left"></i>
          </div>
          <!-- informações -->
          <div>
            <div class="d-flex flex-column align-items-start">
              <div class="mt-2 d-flex flex-column align-items-start">
                <span class="text-fluxo">Saída</span>
                <span class="text-title">McDonald's</span>
                <span class="text-valor">R$ -25,00</span>
              </div>
            </div>
          </div>
          <!-- data -->
          <div class="ml-auto mt-4">
              <span class="text-data">10 Nov</span>
          </div>
        </div>
    </div>
  </div>