<div class="box-card text-left">
  <form>
    <div class="row">
        <div class="form-group col-12 col-sm-12 col-md-12">
            <p class="sub-title">Confirme os dados da transferência</p>
            <p><span class="item">Nome:</span><span class="valor">Juliana Reis da Silva</span></p>
            <p><span class="item">CPF:</span><span class="valor">000.000.000-00</span></p>
            <p><span class="item">Agncia:</span><span class="valor">0000</span></p>
            <p><span class="item">Conta:</span><span class="valor">00000-0</span></p>
            <p><span class="item">Valor:</span><span class="valor">R$ 0,00</span></p>
            <p><span class="item">Tipo:</span><span class="valor">DOC</span></p>
            <p><span class="item">Data:</span><span class="valor">01/01/2018</span></p>
            <button class="btn-green">Confirmar</button>
            <button class="btn-grey">Voltar</button>
        </div>
    </div>
  </form>
</div>